@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark">
                <i class="fas fa-shopping-cart"></i>
                {{items.length}}
            </a>
        </li>
    </ul>