<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingCartCorePractice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="~/lib/jquery/dist/moment.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <style>
        .row {
            display: flex;
        }

        .col {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShoppingCartCorePractice</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="cart">                  
                        <partial name="_CartPartial.cshtml"/>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - ShoppingCartCorePractice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript">
    Vue.createApp({
            data() {
                return {
                    items: [],
                    Productlist: [],
                    message:'',
                }
            },
            mounted() {
                //axios
                //    .get('https://localhost:44379/Customers/Home/Index')
                //    .then((response => { (this.Productlist = response.data); console.log(this.Productlist) }))
                //    .catch(function (error) {
                //        console.log(error);
                //    });
            },
            methods: {
                AddToCart(Id) {
                    @*let param = new URLSearchParams()
                    param.append('Id', Id)           
                    axios({
                        method: 'post',
                        url: '@Url.Action("AddToCart","Home")',
                        data: param                      
                    }).then(res => {
                        this.items.push(itemid)
                    }).catch(error => {
                        console.info(error);
                    });*@
                    this.items.push(Id)
                }
            },
        }).mount('#app')
        @*function AddToCart(Id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToCart","Home")',
                data: { Id: Id }
            }).done(function (msg) {
                $("li#Cart").html(msg);
            });
        }*@
</script>
</body>
</html>
